<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <style>
        *{
            font-family: Arial, Helvetica, sans-serif;
        }
        body {
            background-color: brown;
        }
        label {
            color:white;
        }
        .btnstyle {
            background-color: skyblue;
            color:black;
            padding:10px;
            border-radius: 8px;
            border:none;
            margin: 10px;
            cursor: pointer;
            font-weight: bold;
        }
    </style>
</head>
{% with messages = get_flashed_messages() %}
  {% if messages %}
        {% for message in messages %}
      <center><b>{{ message }}</b></center>
    {% endfor %}
  {% endif %}
{% endwith %}
<body>
    <form method="POST">
        <center><h1 style="color:white; margin-top:5%;">Log In</h1></center>
        <div style="margin-left:45%; margin-top:5%;">
        <label>Roll No:</label>
        <p><input placeholder="Enter roll number" type="text" name="id"/></p>
        <label>Password:</label>
        <p><input placeholder="Enter password" type="text" name="password"/></p>
        <a href="{{url_for('register')}}">No Account?</a>
        <br><a href="{{url_for('forget')}}">Forget password?</a>
        <button class="btnstyle">Submit</button>
    </form>
</div>
</body>
</html>