<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NEW PASSWORD</title>
</head>
<body>
    <center>
        <form method="POST">
        <h1>New Password</h1>
        <input type="password" name="npassword" required>
        <h2>Confirm Password</h2>
        <input type="password" name="cpassword" required><br>
        <input type="submit">
    </form>
    </center>
</body>
</html>