<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add note</title>
    <style>
        * {
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
        }
        body {
            background-color: khaki;
        }
        .btnstyle {
            background-color:blue;
            color:white;
            padding:10px;
            border-radius: 8px;
            border:none;
            margin: 10px;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <button style="float:right" class="btnstyle">Back</button>
    <form>
        <label>Title</label>
        <p><input  type="text" name="tittle" value='{{data[0]}}'readonly/></p>
        <label>Notes</label>
        <p><textarea rows="9" style="width:40%"name="content" readonly >{{data[1]}}</textarea></p>
    </form>
</body>
</html>