<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OTP validation</title>
</head>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <center><b>{{ message }}</b></center>
    {% endfor %}
  {% endif %}
{% endwith %}
<body>
    <form method="POST" action="{{url_for('otp',otp=otp,rollno=rollno,name=name,group=group,password=password,email=email)}}">
        <h1>Enter OTP</h1>
        <input type="text" name="otp"><br>
        <button>submit</button>
    </form>
</body>
</html>